.loading {
	height: 500px;
	width: 100%;
	background: url(https://svgshare.com/i/MKL.svg) center center no-repeat !important;
}

.toast {
	opacity: 1;
}

#toast-container > div {
	opacity: 1;
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}

.streaming { }
.streaming :after {
	content: " \f144";
	font-family: FontAwesome;
	color: red !important;
}